* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: capitalize;
}

.container {
    max-width: 1280px;
    margin: auto;
    overflow: hidden;

}



.btn {
    color: black;

    padding: 10px 20px;
    border-radius: 4px;

}

.btn_cta {
    background-color: rgb(80, 60, 60);
    margin-top: 20px;
}

.btn_cta:hover {
    color: brown;
    background-color: black;
}

/** navbar **/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #00000080;


}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 120px;
}

.navbar ul li a {
    margin: 0 6px;
    padding: 12px;
    color: black;
}

.navbar ul li a:hover {
    color: white;
    background-color: rgb(80, 60, 60);
    border-radius: 4px;
}

/**header**/
.header {
    background: no-repeat center/cover fixed;
    height: 100vh;
    animation: toktok 30s  infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;

}


@keyframes toktok {

    0% {
        background-image: url("../img/SLID1.jpg");
    }

    50% {
        background-image: url("../img/SLID2.jpg");
    }

    75% {
        background-image: url("../img/SLID3.jpg");
    }

    100% {
        background-image: url("../img/SLID1.jpg");
    }
}

.header_1 {
    font-size: 63px;
}

.header_2 {
    font-size: 38px;
}

.center_text {
    text-align: center;
}



.header .header_content {
    background-color: #00000080;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .header_content img {
    position: absolute;
    top: 22%;
    left: 25%;

    /* z-index: 1; */
}

.header_0 {
    padding-bottom: 12px;
    font-size: 62px;
}

.header-main {
    position: absolute;
    top: 27%;
    left: 29%;
    text-align: center;
}

.cta_catch {
    font-size: 18px;
    margin-bottom: 22px;
}

/**section**/

.ptb_1 {
    padding: 40px 0;
}
.location_section{
    background-color: #fafafa;
}
.location_section_top_text{
    font-size: 20px;
    padding-bottom: 30px;
}
.locations{
    display: flex;
   
}
.location{
    flex:1;
    padding: 30px 30px 15px 30px;
}
.location_text{
    padding: 15px;
} 