* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;


}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: capitalize;
}

/********************
bouton
************************/
.btn {
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgba(252, 97, 97, 1);
}

.btn:hover {
    color: rgba(252, 97, 97, 1);
    background-color: black;
}

/******************
 navbar ************/

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.1);

}

.navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul li a {
    margin: 0 6px;
    padding: 12px;
    color: black;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: black;
    background-color: rgba(252, 97, 97, 1);
    border-radius: 4px;
}

/**header**/
.header {
    background: no-repeat center/cover fixed;
    height: 100vh;
    animation: Anim 40s infinite;
    position: relative;
    overflow: hidden;

}


@keyframes Anim {

    0% {
        background-image: url("../img/SLID1.jpg");
    }

    50% {
        background-image: url("../img/SLID2.jpg");
    }

    75% {
        background-image: url("../img/SLID3.jpg");
    }

    100% {
        background-image: url("../img/SLID1.jpg");
    }
}

.header_1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.header_2 {
    font-size: 28px;
    /* border: 1px solid rgba(252, 97, 97, 1); */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0.5rem;
    color: white;

}

.header .header_content {
    background-color: rgba(0, 0, 0, 0.1);
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header .header_content img {
    position: absolute;
    top: 22%;
    left: 25%;

    /* z-index: 1; */
}

.header-main-0 {
    padding-bottom: 0.75rem;
    font-size: 62PX;
}

.header-main {
    position: absolute;
    top: 27%;
    left: 29%;
    text-align: center;
}

.cta_catch {
    font-size: 18px;
    margin-bottom: 22px;
}

/**section**/
.container {
    max-width: 1280px;
    margin: auto;
    padding: 50PX 30px;

}

.location_section {
    background-color: #fafafa;
    padding: 40px 0;
    text-align: center;
}

.locations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 50px;
    position: relative;
    animation: mymove 10s;

}

@keyframes mymove {
    from {
        left: -300px;
    }

    to {
        left: 10px;
    }
}

.location {
    flex: 1;
    padding: 30px 30px 15px 30px;
    border: 1px dotted black;
    border-radius: 30px;
    background-color: black;
    box-shadow: 10px 10px 8px black, 5px 5px 8px rgba(252, 97, 97, 1);

}

.location:hover {

    transform: scale(1.1, 1.1);
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    box-shadow: 5px 5px 8px rgba(252, 97, 97, 1), 10px 10px 8px black;
}

@keyframes example {
    0% {
        background-color: black;
    }

    100% {
        background-color: rgba(252, 97, 97, 1);
    }
}

.location:nth-child(1) {
    text-align: left;
}

.location:nth-child(3) {
    text-align: right;
}

.location_text {
    padding: 12px;
    line-height: 1.8;
}

/***************
part_2        **********************/
/* .decal{
    transform: skewY(-0.06turn);
} 
a voir pour section 3:4
*/
.part_1 {
    transform: none;
}

.sect_2 {

    text-align: justify;
    background: url("../img/back_sect2.jpg") no-repeat center/cover fixed;
    height: 100vh;
}

.part_1 {
    margin: 70px 150px;
    max-width: 400px;
    max-height: 700px;
    line-height: 1.8;

}

/***************************
realisation
*******************************/
.realisation {
    display: flex;
    justify-content: space-around;
}

.sect_3 {
    background-color: rgba(0, 0, 0, 0.3);
}





@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    /*************  header
    **********************/
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;

    }

    .navbar ul {
        flex-direction: column;

    }

    .navbar ul li {
        margin-bottom: 1.1rem;
        border: 1px solid rgba(252, 97, 97, 0.1);
        background-color: rgba(252, 97, 97, 0.1);
        border-radius: 30px;
        color: white;
    }

    .navbar ul li:nth-child(1) {
        padding: 3px 75px;
    }

    .navbar ul li:nth-child(2) {
        padding: 3px 100PX;
    }

    .navbar ul li:nth-child(3) {
        padding: 3px 100PX;
    }

    .navbar ul li:nth-child(4) {
        padding: 3px 150PX;
        margin-bottom: 50px;
    }

    .navbar ul li:nth-child(5) {
        padding: 3px 175PX;
        display: none;
    }

    .navbar ul li:nth-child(6) {
        padding: 3px 170PX;
    }

    .navbar ul li:nth-child(7) {
        padding: 3px 130PX;
    }

    .navbar ul li:nth-child(8) {
        padding: 3px 110PX;
    }

    .navbar ul li:nth-child(9) {
        padding: 3px 15PX;
    }

    .header {
        animation: none;
    }

    .header-main {
        top: 2%;
        left: 6%;
    }

    .header_content img {
        width: 435px;
        top: -55% !important;
        left: -6% !important;
        z-index: -1;
    }

    .logo_title {
        margin-bottom: 75px;
    }

    .header-main-0 {
        display: none;
    }

    /***********************
   sect 1*****************/
    .locations {
        display: grid;
        grid-template-columns: 1fr;
    }

    .header2 {
        text-align: center;
    }

    /*********************
       sect_2
       ***************************/
    .sect_2 {
        text-align: center;

    }

    .part_1 {
        margin: 10px 10px;
    }

    .realisation {
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
}