* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Indie Flower', cursive;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;


}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    text-transform: capitalize;
}

.center_text {
    text-align: center;
}

/********************
bouton
************************/
.btn_header {
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rgba(252, 97, 97, 1);
}

.btn_header:hover {
    color: rgba(252, 97, 97, 1);
    background-color: black;
}

/******************
 navbar  Bootstrap   ************/
#nav-color {
    background-color: rgba(0, 0, 0, 0.5);

}




/**header**/
.header {
    background: no-repeat center/cover fixed;
    height: 90vh;
    max-width: 100%;
    animation: Anim 40s infinite;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid rgba(252, 97, 97, 1);
    border-radius: 5px 5px 50px rgba(252, 97, 97, 1);

}


@keyframes Anim {

    0% {
        background-image: url("../img/SLID1.jpg");
    }

    50% {
        background-image: url("../img/SLID2.jpg");
    }

    75% {
        background-image: url("../img/SLID3.jpg");
    }

    100% {
        background-image: url("../img/SLID1.jpg");
    }
}

.header_1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    padding-top: 30px;
}

.header_2 {
    font-size: 28px;
    /* border: 1px solid rgba(252, 97, 97, 1); */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0.5rem;
    color: white;

}

.header .header_content {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.header-main-0 {
    padding-bottom: 0.75rem;
    font-size: 62PX;
}



.cta_catch {
    font-size: 42px;
    margin-bottom: 22px;
}

/**section**/
.containerr {
    max-width: 1440px;
    margin: auto;
    padding: 0px 30px;

}

.location_section {
    background-color: #fafafa;
    text-align: center;
}

.locations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    animation: mymove 10s;

}

@keyframes mymove {
    from {
        top: -400px;
    }

    to {
        top: 10px;
    }
}

.location {
    max-width: 350px;
    height: 400px;
    margin: 30px;
    padding: 30px 30px 15px 30px;
    border: 1px dotted black;
    border-radius: 30px;
    background-color: black;
    box-shadow: 10px 10px 8px black, 5px 5px 8px rgba(252, 97, 97, 1);

}

.location:hover {

    transform: scale(1.1, 1.1);
    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    box-shadow: 5px 5px 8px rgba(252, 97, 97, 1), 10px 10px 8px black;
}

@keyframes example {
    0% {
        background-color: black;
    }

    100% {
        background-color: rgba(252, 97, 97, 1);
    }
}



.location_text {
    padding: 12px;
    line-height: 1.8;
}

.desc {
    margin-bottom: 20px;
}

.total_form {
    line-height: 1.9;
}

.btn_cta-2 a {
    padding-bottom: 20px;
}

.btn_cta-2 img {
    margin-left: 110px;

}

/***************
part_2        **********************/
/* .decal{
    transform: skewY(-0.06turn);
} 
a voir pour section 3:4
*/
.part_1 {
    transform: none;
}

#QUI {
    padding-top: 0px !important;

}


.sect_2 {

    text-align: justify;
    background: url("../img/back_sect2.jpg") no-repeat center/cover fixed;
    height: 75vh;
}

.part_1 {
    margin: 70px 150px;
    max-width: 500px;
    max-height: 700px;
    line-height: 2.4;
}

/***************************
realisation
*******************************/
.realisation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nos_real {
    border: 5Px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px
}


/*******************************
Equipe********************************/

.equipes {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.equipes img {
    max-width: 200px;
    border-radius: 50%;
    margin: 30px 0px;

}

.equipe_P1 {
    color: gray;
    font-size: 30px;
}

.equipe_P2 {
    font-style: oblique;
    font-size: 16px;
}

/*******************************
testimonials***************/
.image {
    max-width: 700px;
    margin: 20px;
    padding: 20px;
}

.image p {
    display: none;
}

.image:hover p {
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 5px 5Px 5px rgba(252, 97, 97, 1);
    max-width: 700px;
    margin: 20px;
    padding: 20px;
}

.scrool {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image img {
    max-height: 100px;
    float: left;
    margin-right: 10Px;
    border-radius: 50%;
}

.sect_4 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(252, 97, 97, 0.1);
}

.part_2 {
    margin: 0px 30px;
    max-width: 700px;
    max-height: 900px;
    line-height: 1.8;
}

.part_3 {
    margin: 170px 30px;
}

#saveForm {
    padding: 10px 20px;
    font-size: 19px;
    margin-left: 265px;
}

.location--min {
    width: 350px;
}

.location_text2 {
    font-size: 42px;
}

li {
    list-style: none;
}

@media screen and (min-width: 375px) {

    .header-main-0 {
        font-size: 30px;
    }



    .cta_catch {
        font-size: 18px;
        margin-bottom: 69px;
    }

    .containerr {
        padding: 0px;
    }

    .sect_2 {
        height: 85vh;
    }

    .part_1 div p {
        margin: none;
    }

    .realisation img {
        margin-bottom: 15px;
        border: 3px solid black;
    }

    .equipe img {

        border: 3px solid black;
    }

}